/* styles.css */

h3 {
    size: 12px
}

.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    height: 30px;
    margin: 20px 0;
}

.progress-bar {
    height: 100%;
    background-color: #76c7c0;
    width: 0%;
    transition: width 0.3s ease-in-out;
}

#progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 30px;
    top: 0;
    left: 0;
    color: #000;
}

.price-container {
    margin: 20px 0;
    font-size: 20px;
}